.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}
