.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header,
.header__title,
.header__subtitle,
.header__main-illustration,
.header__square-pic,
.description,
.two-columns,
.two-columns__brief,
.two-columns__main-text,
.two-columns__paragraph,
.digits,
.section-title,
.section-subtitle,
.table,
.table__cell,
.table__heading,
.table__text,
.feynman,
.feynman__title,
.feynman__subtitle,
.feynman__link,
.kaufman,
.kaufman__triangle {
  border: 1px solid red;
}

/*Header block styles*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.header__title {
  width: 730px;
  font: bold 102px/96px "Helvetica Neue", Arial, sans-serif;
  align-self: center;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  font: normal 18px/25px "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 2;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  align-self: flex-end;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

/*Description block styles*/

.description {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 100px;
}

.two-columns {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  font: normal 18px/1.2 "Helvetica Neue", Arial, sans-serif;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font: normal 24px/34px "Helvetica Neue", Arial, sans-serif;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font: bold 24px/34px "Helvetica Neue", Arial, sans-serif;
}

/*Digits block styles*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: center;
  font: bold 60px/1.15 "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 20px;
  z-index: 2;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  font: normal 24px/34px "Helvetica Neue", Arial, sans-serif;
  width: 60%;
  text-align: center;
  z-index: 2;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}

.table__cell {
  list-style: none;
  width: 250px;
  margin-top: 60px;
  z-index: 2;
}

.table__heading {
  margin: 0;
  padding: 0;
  font: bold 24px/1.15 "Helvetica Neue", Arial, sans-serif;
  z-index: 2;
}

.table__text {
  margin: 0;
  padding: 0;
  font: normal 18px/1.2 "Helvetica Neue", Arial, sans-serif;
  margin-top: 20px;
  z-index: 2;
}

/*Feynman block styles*/
.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  margin: 0;
  padding: 0;
  width: 648px;
  text-align: center;
  font: bold 120px/1.15 "Helvetica Neue", Arial, sans-serif;
  margin-top: 100px;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  font: normal 36px/51px "Helvetica Neue", Arial, sans-serif;
  margin-top: 70px;
}

.feynman__link {
  text-decoration: none;
  font: normal 36px/51px "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  top: 50%;
  right: 48px;
}

/*Kaufman block styles*/

.kaufman {
  margin: 0;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
}

/*Footer block styles*/
